/*
  --neutral-050: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
*/

:root {
  --background-color: #fafafa;
  --border-color: #737373;
  --color: #262626;
  --font-family: sans-serif;

  --button-background-color: #e5e5e5;
  --button-background-color-hover: #d4d4d4;
  --button-color: #262626;
  --button-color-hover: #262626;
  --heading-color: #171717;
  --heading-font-family: serif;
  --mark-background-color: #e5e5e5;
  --mark-color: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: var(--accent-color, inherit);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: inherit;
}

abbr[title] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

audio {
  display: block;
  max-width: 100%;
  width: 100%;
}

blockquote {
  margin: 1rem 0;
}

body {
  height: 100%;
  margin: 0;
}

caption {
  font-size: smaller;
  margin-top: 0.5rem;
  text-align: start;
}

dd {
  margin-inline-start: 0;
}

dd + dt {
  margin-top: 1rem;
}

details {
  margin: 1rem 0 0 1rem;
}

details[open] summary {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384"><path d="M192 304c-8.2 0-16.4-3.1-22.6-9.4l-160-160c-12.5-12.5-12.5-32.8 0-45.2s32.8-12.5 45.2 0L192 226.8 329.4 89.4c12.5-12.5 32.8-12.5 45.2 0s12.5 32.8 0 45.2l-160 160c-6.2 6.3-14.4 9.4-22.6 9.4z"/></svg>');
}

dl {
  margin: 1rem 0;
}

dt {
  font-weight: bolder;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: smaller;
}

figure {
  margin: 1rem 0;
}

hr {
  border: 0.0625rem solid var(--border-color);
  border-top: none;
  margin: 1rem 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  line-height: 1;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.66rem;
  margin: 0.75rem 0;
}

h3 {
  font-size: 1.33rem;
  margin: 0.5rem 0;
}

h4 {
  font-size: inherit;
  margin: 0.25rem 0;
}

h5 {
  font-size: inherit;
  margin: 0.25rem 0;
}

h6 {
  font-size: inherit;
  margin: 0.25rem 0;
}

iframe {
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

legend {
  padding: 0;
}

mark {
  background-color: var(--mark-background-color);
  color: var(--mark-color);
}

ol {
  list-style-position: inside;
  margin: 1rem 0;
  padding-inline-start: 0;
}

p {
  margin: 1rem 0;
}

pre {
  margin: 1rem 0;
}

sub {
  position: relative;
  vertical-align: baseline;
  top: 0.25rem;
}

summary {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384" xml:space="preserve"><path style="fill:inherit" d="M304 192c0 8.2-3.1 16.4-9.4 22.6l-160 160c-12.5 12.5-32.8 12.5-45.2 0s-12.5-32.8 0-45.2L226.8 192 89.4 54.6c-12.5-12.5-12.5-32.8 0-45.2s32.8-12.5 45.2 0l160 160c6.3 6.2 9.4 14.4 9.4 22.6z"/></svg>');
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  cursor: pointer;
  display: block;
  margin-left: -1rem;
  padding-left: 1rem;
}

summary::-webkit-details-marker {
  display: none;
}

sup {
  bottom: 0.25rem;
  position: relative;
  vertical-align: baseline;
}

table {
  border: 0.125rem solid var(--border-color);
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
  margin: 1rem 0;
  max-width: 100%;
  width: 100%;
}

tbody {
  vertical-align: inherit;
}

td {
  padding: 0.25rem;
}

tfoot {
  vertical-align: inherit;
}

th {
  background-color: #e5e5e5;
  padding: 0.25rem;
  text-align: start;
}

thead {
  vertical-align: inherit;
}

tr {
  border: 0.0625rem solid var(--border-color);
}

ul {
  list-style-position: inside;
  margin: 1rem 0;
  padding-inline-start: 0;
}

video {
  display: block;
  max-width: 100%;
  width: 100%;
}

:is(ol, ul) :is(ol, ul) {
  margin: 0;
  padding-inline-start: 1rem;
}

/*----------------------------------------------------------------------------*/

button,
input,
input[type="file"]::file-selector-button,
select,
textarea {
  background-color: inherit;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.25rem;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0.5rem;
}

button,
input[type="button"],
input[type="file"]::file-selector-button,
input[type="reset"],
input[type="submit"] {
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: 0.5rem 0.75rem;
}

button:not(:disabled),
input[type="button"]:not(:disabled),
input[type="file"]:not(:disabled)::file-selector-button,
input[type="reset"]:not(:disabled),
input[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button:not(:disabled):hover,
input[type="button"]:not(:disabled):hover,
input[type="file"]:not(:disabled)::file-selector-button:hover,
input[type="reset"]:not(:disabled):hover,
input[type="submit"]:not(:disabled):hover {
  background-color: var(--button-background-color-hover);
  color: var(--button-color-hover);
}

input:is([type="checkbox"], [type="radio"]) {
  appearance: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:indeterminate,
input[type="radio"]:checked {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.75rem;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="enable-background:new 0 0 448 512" xml:space="preserve"><path style="fill:inherit" d="M438.6 105.4c12.5 12.5 12.5 32.7 0 45.2l-256 256c-12.5 12.5-32.7 12.5-45.2 0L9.372 278.6c-12.496-12.5-12.496-32.7 0-45.2 12.498-12.5 32.758-12.5 45.258 0L159.1 338.7l234.3-233.3c12.5-12.52 32.7-12.52 45.2 0z"/></svg>');

}

input[type="checkbox"]:indeterminate {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="enable-background:new 0 0 448 512" xml:space="preserve"><path style="fill:inherit" d="M400 288H48c-17.69 0-32-14.32-32-32.01S30.31 224 48 224h352c17.69 0 32 14.3 32 31.99S417.7 288 400 288z"/></svg>');
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><path style="fill:inherit" d="M512 256c0 141.4-114.6 256-256 256S0 397.4 0 256 114.6 0 256 0s256 114.6 256 256z"/></svg>');
}

input[type="file"] {
  border: none;
  padding: 0;
}

input[type="search"] {
  appearance: none;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input::-webkit-datetime-edit,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-fields-wrapper,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-meridiem-field,
input::-webkit-datetime-edit-millisecond-field,
input::-webkit-datetime-edit-minute-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-second-field,
input::-webkit-datetime-edit-year-field {
  padding: 0;
}

select:not([multiple]):not([size]) {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384" xml:space="preserve"><path style="fill:inherit" d="M192 304c-8.2 0-16.4-3.1-22.6-9.4l-160-160c-12.5-12.5-12.5-32.8 0-45.2s32.8-12.5 45.2 0L192 226.8 329.4 89.4c12.5-12.5 32.8-12.5 45.2 0s12.5 32.8 0 45.2l-160 160c-6.2 6.3-14.4 9.4-22.6 9.4z"/></svg>');
  background-position: center right 0.5rem;
  background-repeat: no-repeat;
  background-size: 0.5rem;
}
